
@{
    ViewBag.Title = "Recognition Tool";
}
@*Header Section*@


<!--<script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script> -->
<!-- Webcam.min.js -->
<!--<script type="text/javascript" src="js/ml5Model.js"></script>-->
 


<script type="text/javascript" src="~/js/webcam.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script type="text/javascript" src="https://unpkg.com/@@tensorflow/tfjs"></script>
<script type="text/javascript" src="https://unpkg.com/@@tensorflow-models/mobilenet"></script>
<script type="text/javascript" src="https://unpkg.com/@@tensorflow-models/knn-classifier"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vega/3.0.1/vega.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.0.0-beta.15/vega-lite.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/3.0.0-beta.20/vega-embed.js"></script>


<script>//Calls async Task<ActionResult> DeleteImage(string name) in the HomeController and Refreshes the page
    function deleteImage(item) {
        var url = "/Home/DeleteImage";
        $.post(url, { FileUri: item }, function (data) {
            window.location.href = "/Recognition/Index";
        });
    }

    //Lists the file name and size for all files to be uploaded by updating the <p id="FilesToUpload"></p> control
    function DisplayFilesToUpload() {
        var element = document.getElementById("file");
        var html = "";

        html = "<h3>Image(s) to Upload</h3>"
        for (var i = 0; i < element.files.length; i++) {
            html += "<strong>" + (i + 1) + "</strong>. File: ";
            var file = element.files[i];
            if ('name' in file) { html += file.name + " ("; }
            if ('size' in file) { html += "size: " + file.size + " bytes)<br>"; }
        }

        html += "<div class='fileUpload btn btn-primary'><span>Upload</span><input type='submit' class='upload' value='Upload'/></div>"
        document.getElementById("FilesToUpload").innerHTML = html;
    }</script>







<div class="row">

    
   
    <div class="col-sm-8" id="Display" style="height:400px">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <link href='~/css/Faces.css' rel='stylesheet' type='text/css'>

        <input id="happy" type="radio" style="visibility:hidden" name="smiley" value="Happy">

        <input id="normal" type="radio" style="visibility:hidden" name="smiley" value="Normal">

        <input id="angry" type="radio" style="visibility:hidden" name="smiley" value="Angry">

        <input id="furious" type="radio" style="visibility:hidden" name="smiley" value="Furious">

        <div class="smiley">
            <div class="steam-container">
                <div class="squiggle-container squiggle-container-1">
                    <div class="squiggle">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 28.1 80.6" style="enable-background:new 0 0 28.1 80.6;" xml:space="preserve">
                        <path class="" fill="none" stroke-width="11" stroke-linecap="round" stroke-miterlimit="10" d="M22.6,75.1c-8-5.6-15.2-10.5-15.2-19.9c0-12.1,14.1-17.2,14.1-29.6c0-9.1-6.7-15.7-16-20.1" />



         </svg>
                    </div>
                </div>
                <div class="squiggle-container squiggle-container-2">
                    <div class="squiggle">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 28.1 80.6" style="enable-background:new 0 0 28.1 80.6;" xml:space="preserve">
                        <path class="" fill="none" stroke="#fff" stroke-width="11" stroke-linecap="round" stroke-miterlimit="10" d="M22.6,75.1c-8-5.6-15.2-10.5-15.2-19.9c0-12.1,14.1-17.2,14.1-29.6c0-9.1-6.7-15.7-16-20.1" />



         </svg>
                    </div>
                </div>
                <div class="squiggle-container squiggle-container-3">
                    <div class="squiggle">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 28.1 80.6" style="enable-background:new 0 0 28.1 80.6;" xml:space="preserve">
                        <path class="" fill="none" stroke="#fff" stroke-width="11" stroke-linecap="round" stroke-miterlimit="10" d="M22.6,75.1c-8-5.6-15.2-10.5-15.2-19.9c0-12.1,14.1-17.2,14.1-29.6c0-9.1-6.7-15.7-16-20.1" />



         </svg>
                    </div>
                </div>
            </div>

            <div class="eyes">
                <div class="eye"></div>
                <div class="eye"></div>
            </div>
            <div class="mouth"></div>
        </div>
           </div>

     <div style="height: 400px;" class="col-sm-4">

         <div id="time" class="widget col-sm-12" style="display:none; text-align:center;padding:1em 0;"> <h2><a style="text-decoration:none;" href="https://www.zeitverschiebung.net/en/city/3117735"><span style="color:gray;">Current local time in</span><br />Madrid, Spain</a></h2> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=large&timezone=Europe%2FMadrid" width="100%" height="140" frameborder="0" seamless></iframe> </div>


      <div id="weather"  class="widget col-sm-12" style="display:none" >
         <a class="weatherwidget-io" href="https://forecast7.com/en/40d42n3d70/madrid/" data-label_1="MADRID" data-label_2="WEATHER" data-theme="orange" >MADRID WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
             </div>


         <span id="MessageBox"> </span>

       
    </div>
        </div>


       

    



        <div class="row">

            <div class="col-sm-12"> 

            <input type="button" value="View Chart" onclick="javascript:createChart()" />
                 <span id="console" style="height:250px"></span>
        <p />
               <div id="vis"></div>
        </div>




        </div>
 
        <div class="row" style="visibility:hidden">
            <div class="col-sm-4">
                <video autoplay playsinline muted id="webcam"></video>    <!-- Load index.js after the content of the page -->

            

            </div>

        </div>



        <div class="row" style="display:none">
            <div id="results" class="col-sm-4" style="height:240px; overflow:auto"></div>
        </div>




        <div class="row" style="display:none" height:300px; overflow:auto">
            <br />
            Captured images
            <br />

            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {


                    <div class="imageBlock">
                        <a href="@item" target="_blank"><img class="thumb" crossorigin="anonymous" src="@item" alt="images" /> @item</a><br />
                        <div class="deleteDiv"><img class="deleteIcon" src="~/Images/deleteImage.png" title="Delete Image" onclick="deleteImage('@item');" /></div>
                    </div>
                }

                using (Html.BeginForm("DeleteAll", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @*<div class="fileUpload btn btn-danger"><span>Delete All Files</span><input type="submit" name="deleteAll" class="upload" /></div>*@
                }
            }

        </div>


   <script   src="~/js/recognition.js"></script>
<script src="https://code.responsivevoice.org/responsivevoice.js?key=EpdBXVg4"></script>