
<!-- Webcam.min.js -->
<script type="text/javascript" src="js/webcam.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="js/cameracapture.js"></script>

<!-- CSS -->
<style>
#my_camera{
 width: 320px;
 height: 240px;
 border: 1px solid black;
}

.Capture
{
   
}

</style>

<div id="my_camera"></div>
<br/>
<br/>
<button id="class-start">Start Recording</button>
<button id="class-stop">Stop Recording</button>

<input type=button value="Take Snapshot" onClick="take_snapshot()">
<br/>
<br/>
<div id="results"  style="width:100%; height:300px;"  ></div>
 

